<a href="https://colab.research.google.com/github/cardstdani/practica-par/blob/main/PracticaParadigmas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica Paradigmas 1**

In [ ]:
!pip install pyvis==0.3.1

In [39]:
import random
import pandas as pd
from IPython.display import display, HTML

class TrieNode:
    def __init__(self, inputChar):
        self.char = inputChar
        self.end = False
        self.children = {}
 
class Trie():
    def __init__(self, startingElements=None):
        self.root = TrieNode("")
        if startingElements!=None:
          for i in startingElements: self.insert(i)
    def insert(self, word):
        node = self.root
        for char in word:
            if char in node.children:
                node = node.children[char]
            else:
                new_node = TrieNode(char)
                node.children[char] = new_node
                node = new_node
        node.end = True      
    def searchAndSplit(self, x):
        node = self.root
        output = ["", ""]
        for char in x:
            if char in node.children:
                node = node.children[char]            
            else:
                return []        
            output[1 if node.end else 0] += node.char
        return output if node.end else []
    def toGraph(self):
      from pyvis.network import Network
      g = Network(directed =True)      
      g.show_buttons()

      nodeIndex = 1
      currentNode = 0
      q = [self.root]      
      g.add_node(currentNode, label="", color="red")
      tempLabels = {0:""}
      while q!=[]:
        n = q.pop(0)                     
        for i in n.children.values():
          tempLabels[nodeIndex] = tempLabels[currentNode]+i.char
          g.add_node(nodeIndex, label=tempLabels[currentNode]+i.char, color="#48e073" if i.end else "blue")
          g.add_edge(currentNode, nodeIndex)
          nodeIndex+=1
          q.append(i)
        currentNode+=1
      g.show('nx.html')

class MainGame:
  def __init__(self):
    random.seed(368) #311
    self.matrix = [random.sample(["."]*45+["a"]*18+["b"]*4+["c"]*3+["1"]*2, 6) for i in range(6)]
    self.objects = {".":[".",0],"a":["b",1],"b":["c",5],"c":["d",25],"d":["e",125],"e":["e",625],"1":["1",-25],"2":["3",-5],"3":["4",50],"4":["4",500],"x":["x",-50]}
    self.turn = 0
    self.storage = "."
    self.bigFoots = [[[i,j], 0, False] for i in range(len(self.matrix)) for j in range(len(self.matrix[0])) if self.matrix[i][j]=="1"]
    self.actual = random.choice(["a"]*30+["b"]*5+["c"]*1+["1"]*6+["w"]*1)
    self.tr = Trie((''.join(chr(97+int(j)) for j in str(i))+str(k) for k in range(len(self.matrix[0])) for i in range(len(self.matrix))))
    self.tr.insert("exit")
    self.tr.insert("*")
    self.tr.toGraph()

  def main(self):
    print("Que empiece el juego:\U0001F609")
    self.showGame()    
    while any("." in x for x in self.matrix):
      message = self.validarEntrada(input("Mover a casilla: ").lower().replace(" ", ""))
      while not message[0]: message = self.validarEntrada(input("Jugada errónea\nMover a casilla: ").lower().replace(" ", ""))

      if "".join(message[1])=="exit": break
      if "".join(message[1])=="*": self.storage=self.actual; self.actual = random.choice(["a"]*30+["b"]*5+["c"]*1+["1"]*14+["w"]*1); self.showGame(); continue;
      coordinates = (lambda l: [int("".join([str(ord(i)%97) for i in l[0]])), int(l[1])])(message[1])
      if not ((self.matrix[coordinates[0]][coordinates[1]]==".") ^ (self.actual=="w")): print("Jugada errónea"); continue

      self.updateMatrix(coordinates)
      self.actual = random.choice(["a"]*30+["b"]*5+["c"]*1+["1"]*14+["w"]*1)
      self.turn+=1
      self.bigFoots = [[i[0], i[1]+1, i[2]] for i in self.bigFoots]
      self.showGame()
    print("Partida terminada, GG:\U0001F44F")
  
  def updateMatrix(self, coordinates):
    if self.actual=="w": 
      self.matrix[coordinates[0]][coordinates[1]] = "."
      for i in enumerate(self.bigFoots): 
        if i[1][0]==coordinates: self.bigFoots.pop(i[0])
      return 
    self.matrix[coordinates[0]][coordinates[1]] = self.actual
    if self.actual=="1": self.bigFoots.append([coordinates, 0, False]); self.updateBigFoots(); return;

    self.checkAndColapse(coordinates)
    self.updateBigFoots()

  def checkAndColapse(self, coordinates):
    g = (self.getGroup(coordinates), self.matrix[coordinates[0]][coordinates[1]])
    if g[1]=="2": coordinates = max(g[0], key=lambda x:[k for k in self.bigFoots if k[0]==x][0][1])
    while len(g[0])>2:
      for i in g[0]: 
        if self.matrix[i[0]][i[1]] == "2": self.bigFoots.pop([k for k in range(len(self.bigFoots)) if self.bigFoots[k][0]==i][0])
        self.matrix[i[0]][i[1]] = "."
      self.matrix[coordinates[0]][coordinates[1]] = self.objects[g[1]][0]
      g = (self.getGroup(coordinates), self.matrix[coordinates[0]][coordinates[1]])
  
  def updateBigFoots(self):
    for i in enumerate(self.bigFoots):
      n = i[1][:]
      if not n[2] and n[1]>0:
        for j in (lambda l:[k for k in l if k[0]>=0 and k[1]>=0])(([n[0][0]-1, n[0][1]], [n[0][0], n[0][1]+1], [n[0][0]+1, n[0][1]], [n[0][0], n[0][1]-1])):
          try:
            if self.matrix[j[0]][j[1]]==".": self.matrix[j[0]][j[1]]="1"; self.matrix[n[0][0]][n[0][1]]="x" if n[1]>10 else "."; self.bigFoots[i[0]][0]=j[:]; break;
          except: pass

      if n[0]==self.bigFoots[i[0]][0]: 
        g = self.getGroup(n[0], True)
        if not "." in (self.matrix[k[0]][k[1]] for k in g):
          for j in g: self.matrix[j[0]][j[1]] = "2"; bfIndex = [k for k in range(len(self.bigFoots)) if self.bigFoots[k][0]==j][0]; self.bigFoots[bfIndex][2]=True;  
          self.checkAndColapse(n[0])

  def getGroup(self, coordinates, bigFootMode=False):    
    self.visitedMatrix = [[False]*len(self.matrix[0]) for i in range(len(self.matrix))]
    output = [coordinates]
    q = [coordinates]
    while q!=[]:
      n = q.pop(0)
      self.visitedMatrix[n[0]][n[1]] = True
      for i in (lambda l:[j for j in l if j[0]>=0 and j[1]>=0])([[n[0]-1, n[1]], [n[0], n[1]+1], [n[0]+1, n[1]], [n[0], n[1]-1]]):
        try:
          if (not self.visitedMatrix[i[0]][i[1]]) and (self.matrix[i[0]][i[1]]==self.matrix[coordinates[0]][coordinates[1]] or (bigFootMode and self.matrix[i[0]][i[1]]==".")): q.append(i); output.append(i);
        except:
          pass
    return output

  def validarEntrada(self, s):
    s = self.tr.searchAndSplit(s)
    return (True if s else False, s)

  def showGame(self):
    df = pd.DataFrame(self.matrix, columns=list(range(len(self.matrix[0]))), index=[''.join(chr(65+int(j)) for j in str(i)) for i in range(len(self.matrix))])
    display(HTML(df.to_html()))
    print(f"\nTurno: {self.turn} Puntos:{sum(self.objects[j][1] for i in self.matrix for j in i)}\nAlmacen: [{self.storage}] Actual: [{self.actual}]")

if __name__=="__main__":
  g = MainGame()
  g.main()

Que empiece el juego:😉

Turno: 0 Puntos:67
Almacen: [.] Actual: [1]
Mover a casilla: e5

Turno: 1 Puntos:42
Almacen: [.] Actual: [a]
Mover a casilla: e4

Turno: 2 Puntos:82
Almacen: [.] Actual: [1]
Mover a casilla: b2

Turno: 3 Puntos:57
Almacen: [.] Actual: [a]
Mover a casilla: b1

Turno: 4 Puntos:58
Almacen: [.] Actual: [1]
Mover a casilla: a4

Turno: 5 Puntos:33
Almacen: [.] Actual: [1]
Mover a casilla: a1

Turno: 6 Puntos:8
Almacen: [.] Actual: [a]
Mover a casilla: c3

Turno: 7 Puntos:9
Almacen: [.] Actual: [a]
Mover a casilla: b3

Turno: 8 Puntos:9
Almacen: [.] Actual: [1]
Mover a casilla: a4

Turno: 9 Puntos:-16
Almacen: [.] Actual: [a]
Mover a casilla: c2

Turno: 10 Puntos:-15
Almacen: [.] Actual: [a]
Mover a casilla: c3

Turno: 11 Puntos:-14
Almacen: [.] Actual: [a]
Mover a casilla: b2

Turno: 12 Puntos:-62
Almacen: [.] Actual: [a]
Mover a casilla: b4

Turno: 13 Puntos:89
Almacen: [.] Actual: [a]
Mover a casilla: c2

Turno: 14 Puntos:40
Almacen: [.] Actual: [b]
Mover a casilla: e3

Turno: 15 Puntos:-5
Almacen: [.] Actual: [a]
Mover a casilla: b5

Turno: 16 Puntos:16
Almacen: [.] Actual: [b]
Mover a casilla: e2

Turno: 17 Puntos:31
Almacen: [.] Actual: [a]
Mover a casilla: e3

Turno: 18 Puntos:32
Almacen: [.] Actual: [a]
Mover a casilla: a5

Turno: 19 Puntos:35
Almacen: [.] Actual: [a]
Mover a casilla: a4

Turno: 20 Puntos:36
Almacen: [.] Actual: [1]
Mover a casilla: e4

Turno: 21 Puntos:101
Almacen: [.] Actual: [1]
Mover a casilla: f4

Turno: 22 Puntos:76
Almacen: [.] Actual: [a]
Mover a casilla: b4

Turno: 23 Puntos:77
Almacen: [.] Actual: [1]
Mover a casilla: f4

Turno: 24 Puntos:52
Almacen: [.] Actual: [c]
Mover a casilla: b5

Turno: 25 Puntos:102
Almacen: [.] Actual: [a]
Mover a casilla: f4

Turno: 26 Puntos:103
Almacen: [.] Actual: [a]
Mover a casilla: e4

Turno: 27 Puntos:106
Almacen: [.] Actual: [a]
Mover a casilla: d4

Turno: 28 Puntos:107
Almacen: [.] Actual: [b]
Mover a casilla: d5

Turno: 29 Puntos:152
Almacen: [.] Actual: [a]
Mover a casilla: a1

Turno: 30 Puntos:153
Almacen: [.] Actual: [1]
Mover a casilla: f4

Turno: 31 Puntos:148
Almacen: [.] Actual: [1]
Mover a casilla: e3

Turno: 32 Puntos:143
Almacen: [.] Actual: [b]
Mover a casilla: b1

Turno: 33 Puntos:158
Almacen: [.] Actual: [w]
Mover a casilla: a2

Turno: 34 Puntos:208
Almacen: [.] Actual: [1]
Mover a casilla: a2

Turno: 35 Puntos:183
Almacen: [.] Actual: [a]
Mover a casilla: b2

Turno: 36 Puntos:204
Almacen: [.] Actual: [1]
Mover a casilla: *

Turno: 36 Puntos:204
Almacen: [1] Actual: [1]
Mover a casilla: *

Turno: 36 Puntos:204
Almacen: [1] Actual: [1]
Mover a casilla: f0

Turno: 37 Puntos:179
Almacen: [1] Actual: [1]
Mover a casilla: f1

Turno: 38 Puntos:154
Almacen: [1] Actual: [a]
Mover a casilla: e1

Turno: 39 Puntos:157
Almacen: [1] Actual: [b]
Mover a casilla: d0

Turno: 40 Puntos:162
Almacen: [1] Actual: [a]
Mover a casilla: e0

Turno: 41 Puntos:163
Almacen: [1] Actual: [a]
Mover a casilla: b3

Turno: 42 Puntos:164
Almacen: [1] Actual: [a]
Mover a casilla: f0

Turno: 43 Puntos:205
Almacen: [1] Actual: [a]
Mover a casilla: b0

Turno: 44 Puntos:208
Almacen: [1] Actual: [a]
Mover a casilla: c1

Turno: 45 Puntos:209
Almacen: [1] Actual: [a]
Mover a casilla: d1

Turno: 46 Puntos:210
Almacen: [1] Actual: [a]
Mover a casilla: c0

Turno: 47 Puntos:223
Almacen: [1] Actual: [a]
Mover a casilla: d0

Turno: 48 Puntos:226
Almacen: [1] Actual: [w]
Mover a casilla: c3

Turno: 49 Puntos:276
Almacen: [1] Actual: [w]
Mover a casilla: d3

Turno: 50 Puntos:326
Almacen: [1] Actual: [a]
Mover a casilla: d3

Turno: 51 Puntos:327
Almacen: [1] Actual: [a]
Mover a casilla: d2

Turno: 52 Puntos:330
Almacen: [1] Actual: [1]
Mover a casilla: f0

Turno: 53 Puntos:305
Almacen: [1] Actual: [a]
Mover a casilla: e0

Turno: 54 Puntos:391
Almacen: [1] Actual: [1]
Mover a casilla: a1

Turno: 55 Puntos:366
Almacen: [1] Actual: [1]
Mover a casilla: a0

Turno: 56 Puntos:341
Almacen: [1] Actual: [1]
Mover a casilla: b0

Turno: 57 Puntos:446
Almacen: [1] Actual: [a]
Mover a casilla: c1

Turno: 58 Puntos:447
Almacen: [1] Actual: [1]
Mover a casilla: f0

Turno: 59 Puntos:442
Almacen: [1] Actual: [a]
Mover a casilla: c2

Turno: 60 Puntos:443
Almacen: [1] Actual: [a]
Mover a casilla: d1

Turno: 61 Puntos:451
Almacen: [1] Actual: [a]
Mover a casilla: e1

Turno: 62 Puntos:452
Almacen: [1] Actual: [1]
Mover a casilla: f2

Turno: 63 Puntos:447
Almacen: [1] Actual: [a]
Mover a casilla: d0

Turno: 64 Puntos:450
Almacen: [1] Actual: [a]
Mover a casilla: d4

Turno: 65 Puntos:451
Almacen: [1] Actual: [1]
Mover a casilla: e0

Turno: 66 Puntos:426
Almacen: [1] Actual: [b]
Mover a casilla: a4

Turno: 67 Puntos:431
Almacen: [1] Actual: [a]
Mover a casilla: d3

Turno: 68 Puntos:432
Almacen: [1] Actual: [1]
Mover a casilla: e1

Turno: 69 Puntos:512
Almacen: [1] Actual: [1]
Mover a casilla: e0

Turno: 70 Puntos:487
Almacen: [1] Actual: [b]
Mover a casilla: b4

Turno: 71 Puntos:497
Almacen: [1] Actual: [1]
Mover a casilla: e0

Turno: 72 Puntos:512
Almacen: [1] Actual: [a]
Mover a casilla: d2

Turno: 73 Puntos:515
Almacen: [1] Actual: [1]
Mover a casilla: a5

Turno: 74 Puntos:490
Almacen: [1] Actual: [1]
Mover a casilla: a4

Turno: 75 Puntos:505
Almacen: [1] Actual: [a]
Mover a casilla: c2

Turno: 76 Puntos:506
Almacen: [1] Actual: [a]
Mover a casilla: b3

Turno: 77 Puntos:507
Almacen: [1] Actual: [a]
Mover a casilla: c1

Turno: 78 Puntos:508
Almacen: [1] Actual: [a]
Mover a casilla: c3

Turno: 79 Puntos:510
Almacen: [1] Actual: [1]
Mover a casilla: d4

Turno: 80 Puntos:485
Almacen: [1] Actual: [a]
Mover a casilla: d3

Turno: 81 Puntos:571
Almacen: [1] Actual: [1]
Mover a casilla: c4

Turno: 82 Puntos:546
Almacen: [1] Actual: [b]
Mover a casilla: c2

Turno: 83 Puntos:561
Almacen: [1] Actual: [b]
Mover a casilla: a1

Turno: 84 Puntos:566
Almacen: [1] Actual: [a]
Mover a casilla: c3

Turno: 85 Puntos:567
Almacen: [1] Actual: [1]
Mover a casilla: c4

Turno: 86 Puntos:582
Almacen: [1] Actual: [1]
Mover a casilla: d2

Turno: 87 Puntos:577
Almacen: [1] Actual: [a]
Mover a casilla: b3

Turno: 88 Puntos:580
Almacen: [1] Actual: [a]
Mover a casilla: *

Turno: 88 Puntos:580
Almacen: [a] Actual: [b]
Mover a casilla: c3

Turno: 89 Puntos:585
Almacen: [a] Actual: [a]
Mover a casilla: a0

Turno: 90 Puntos:586
Almacen: [a] Actual: [a]
Mover a casilla: *

Turno: 90 Puntos:586
Almacen: [a] Actual: [b]
Mover a casilla: b2

Turno: 91 Puntos:651
Almacen: [a] Actual: [b]
Mover a casilla: b1

Turno: 92 Puntos:656
Almacen: [a] Actual: [b]
Mover a casilla: c1

Turno: 93 Puntos:721
Almacen: [a] Actual: [a]
Mover a casilla: a1

Turno: 94 Puntos:722
Almacen: [a] Actual: [a]
Mover a casilla: b0

Turno: 95 Puntos:725
Almacen: [a] Actual: [a]
Mover a casilla: c3

Turno: 96 Puntos:726
Almacen: [a] Actual: [a]
Mover a casilla: c2

Turno: 97 Puntos:727
Almacen: [a] Actual: [a]
Mover a casilla: *

Turno: 97 Puntos:727
Almacen: [a] Actual: [a]
Mover a casilla: a0

Turno: 98 Puntos:728
Almacen: [a] Actual: [a]
Mover a casilla: a1

Turno: 99 Puntos:729
Almacen: [a] Actual: [1]
Mover a casilla: d3

Turno: 100 Puntos:799
Almacen: [a] Actual: [a]
Mover a casilla: b1

Turno: 101 Puntos:802
Almacen: [a] Actual: [a]
Mover a casilla: c4

Turno: 102 Puntos:805
Almacen: [a] Actual: [a]
Mover a casilla: b3

Turno: 103 Puntos:806
Almacen: [a] Actual: [a]
Mover a casilla: c3

Turno: 104 Puntos:807
Almacen: [a] Actual: [a]
Mover a casilla: d3

Turno: 105 Puntos:810
Almacen: [a] Actual: [b]
Mover a casilla: d4

Turno: 106 Puntos:815
Almacen: [a] Actual: [1]
Mover a casilla: e2
Jugada errónea
Mover a casilla: e4

Turno: 107 Puntos:810
Almacen: [a] Actual: [1]
Mover a casilla: d5

Turno: 108 Puntos:805
Almacen: [a] Actual: [b]
Mover a casilla: c0

Turno: 109 Puntos:815
Almacen: [a] Actual: [a]
Mover a casilla: exit
Partida terminada, GG:👏