<a href="https://colab.research.google.com/github/cardstdani/practica-par/blob/main/PracticaParadigmas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica Paradigmas 1**

In [ ]:
!pip install pyvis==0.3.1

In [5]:
import random
import pandas as pd
from IPython.display import display, HTML

class TrieNode:
    def __init__(self, inputChar):
        self.char = inputChar
        self.end = False
        self.children = {}
 
class Trie():
    def __init__(self, startingElements=None):
        self.root = TrieNode("")
        if startingElements!=None:
          for i in startingElements: self.insert(i)
    def insert(self, word):
        node = self.root
        for char in word:
            if char in node.children:
                node = node.children[char]
            else:
                new_node = TrieNode(char)
                node.children[char] = new_node
                node = new_node
        node.end = True      
    def searchAndSplit(self, x):
        node = self.root
        output = ["", ""]
        for char in x:
            if char in node.children:
                node = node.children[char]            
            else:
                return []        
            output[1 if node.end else 0] += node.char
        return output if node.end else []
    def toGraph(self):
      from pyvis.network import Network
      g = Network(directed =True)      
      g.show_buttons()

      nodeIndex = 1
      currentNode = 0
      q = [self.root]      
      g.add_node(currentNode, label="", color="red")
      tempLabels = {0:""}
      while q!=[]:
        n = q.pop(0)                     
        for i in n.children.values():
          tempLabels[nodeIndex] = tempLabels[currentNode]+i.char
          g.add_node(nodeIndex, label=tempLabels[currentNode]+i.char, color="#48e073" if i.end else "blue")
          g.add_edge(currentNode, nodeIndex)
          nodeIndex+=1
          q.append(i)
        currentNode+=1
      g.show('nx.html')

class MainGame:
  def __init__(self):
    random.seed(368) #311
    self.matrix = [random.sample(["."]*45+["a"]*18+["b"]*4+["c"]*3+["1"]*2, 6) for i in range(6)]
    self.objects = {".":[".",0],"a":["b",1],"b":["c",5],"c":["d",25],"d":["e",125],"e":["e",625],"1":["1",-25],"2":["3",-5],"3":["4",50],"4":["4",500],"x":["x",-50]}
    self.turn = 0
    self.storage = "."
    self.bigFoots = [[[i,j], 0, False] for i in range(len(self.matrix)) for j in range(len(self.matrix[0])) if self.matrix[i][j]=="1"]
    self.actual = random.choice(["a"]*30+["b"]*5+["c"]*1+["1"]*6+["w"]*1)
    self.tr = Trie((''.join(chr(97+int(j)) for j in str(i))+str(k) for k in range(len(self.matrix[0])) for i in range(len(self.matrix))))
    self.tr.insert("exit")
    self.tr.insert("*")
    self.tr.toGraph()

  def main(self):
    print("Que empiece el juego:\U0001F609")
    self.showGame()    
    while any("." in x for x in self.matrix):
      message = self.validarEntrada(input("Mover a casilla: ").lower().replace(" ", ""))
      while not message[0]: message = self.validarEntrada(input("Jugada errónea\nMover a casilla: ").lower().replace(" ", ""))

      if "".join(message[1])=="exit": break
      if "".join(message[1])=="*": self.storage=self.actual; self.actual = random.choice(["a"]*30+["b"]*5+["c"]*1+["1"]*14+["w"]*1); self.showGame(); continue;
      coordinates = (lambda l: [int("".join([str(ord(i)%97) for i in l[0]])), int(l[1])])(message[1])
      if not ((self.matrix[coordinates[0]][coordinates[1]]==".") ^ (self.actual=="w")): print("Jugada errónea"); continue

      self.updateMatrix(coordinates)
      self.actual = random.choice(["a"]*30+["b"]*5+["c"]*1+["1"]*14+["w"]*1)
      self.turn+=1
      self.bigFoots = [[i[0], i[1]+1, i[2]] for i in self.bigFoots]
      self.showGame()
    print("Partida terminada, GG:\U0001F44F")
  
  def updateMatrix(self, coordinates):
    if self.actual=="w": self.matrix[coordinates[0]][coordinates[1]] = "."; self.deleteBigFoot(coordinates); return;
    self.matrix[coordinates[0]][coordinates[1]] = self.actual
    if self.actual=="1": self.bigFoots.append([coordinates, 0, False]); self.updateBigFoots(); return;

    self.checkAndColapse(coordinates)
    self.updateBigFoots()

  def checkAndColapse(self, coordinates):
    g = (self.getGroup(coordinates), self.matrix[coordinates[0]][coordinates[1]])
    if g[1]=="2": coordinates = max(g[0], key=lambda x:[k for k in self.bigFoots if k[0]==x][0][1])
    while len(g[0])>2:
      for i in g[0]: 
        if self.matrix[i[0]][i[1]] == "2": self.deleteBigFoot(i);
        self.matrix[i[0]][i[1]] = "."
      self.matrix[coordinates[0]][coordinates[1]] = self.objects[g[1]][0]
      g = (self.getGroup(coordinates), self.matrix[coordinates[0]][coordinates[1]])
  
  def deleteBigFoot(self, coordinates):
    for i in range(len(self.bigFoots)):
      if self.bigFoots[i][0] == coordinates: del self.bigFoots[i]; break;

  def updateBigFoots(self):
    for i in enumerate(self.bigFoots):
      n = i[1][:]
      if not n[2] and n[1]>0:
        for j in (lambda l:[k for k in l if k[0]>=0 and k[1]>=0])(([n[0][0]-1, n[0][1]], [n[0][0], n[0][1]+1], [n[0][0]+1, n[0][1]], [n[0][0], n[0][1]-1])):
          try:
            if self.matrix[j[0]][j[1]]==".": self.matrix[j[0]][j[1]]="1"; self.matrix[n[0][0]][n[0][1]]="x" if n[1]>10 else "."; self.bigFoots[i[0]][0]=j[:]; break;
          except: pass

      if n[0]==self.bigFoots[i[0]][0]: 
        g = self.getGroup(n[0], True)
        if not "." in (self.matrix[k[0]][k[1]] for k in g):
          for j in g: self.matrix[j[0]][j[1]] = "2"; bfIndex = [k for k in range(len(self.bigFoots)) if self.bigFoots[k][0]==j][0]; self.bigFoots[bfIndex][2]=True;  
          self.checkAndColapse(n[0])

  def getGroup(self, coordinates, bigFootMode=False):    
    self.visitedMatrix = [[False]*len(self.matrix[0]) for i in range(len(self.matrix))]
    output = [coordinates]
    q = [coordinates]
    while q!=[]:
      n = q.pop(0)
      self.visitedMatrix[n[0]][n[1]] = True
      for i in (lambda l:[j for j in l if j[0]>=0 and j[1]>=0])([[n[0]-1, n[1]], [n[0], n[1]+1], [n[0]+1, n[1]], [n[0], n[1]-1]]):
        try:
          if (not self.visitedMatrix[i[0]][i[1]]) and (self.matrix[i[0]][i[1]]==self.matrix[coordinates[0]][coordinates[1]] or (bigFootMode and self.matrix[i[0]][i[1]]==".")): q.append(i); output.append(i);
        except:
          pass
    return output

  def validarEntrada(self, s):
    s = self.tr.searchAndSplit(s)
    return (True if s else False, s)

  def showGame(self):
    df = pd.DataFrame(self.matrix, columns=list(range(len(self.matrix[0]))), index=[''.join(chr(65+int(j)) for j in str(i)) for i in range(len(self.matrix))])
    display(HTML(df.to_html()))
    print(f"\nTurno: {self.turn} Puntos:{sum(self.objects[j][1] for i in self.matrix for j in i)}\nAlmacen: [{self.storage}] Actual: [{self.actual}]")

if __name__=="__main__":
  g = MainGame()
  g.main()

Que empiece el juego:😉

Turno: 0 Puntos:67
Almacen: [.] Actual: [1]
Mover a casilla: e5

Turno: 1 Puntos:42
Almacen: [.] Actual: [a]
Mover a casilla: b1

Turno: 2 Puntos:43
Almacen: [.] Actual: [1]
Mover a casilla: f4

Turno: 3 Puntos:18
Almacen: [.] Actual: [a]
Mover a casilla: e5

Turno: 4 Puntos:144
Almacen: [.] Actual: [1]
Mover a casilla: e4

Turno: 5 Puntos:119
Almacen: [.] Actual: [1]
Mover a casilla: f4

Turno: 6 Puntos:134
Almacen: [.] Actual: [a]
Mover a casilla: c1

Turno: 7 Puntos:137
Almacen: [.] Actual: [a]
Mover a casilla: b1

Turno: 8 Puntos:138
Almacen: [.] Actual: [1]
Mover a casilla: b0

Turno: 9 Puntos:153
Almacen: [.] Actual: [a]
Mover a casilla: d1

Turno: 10 Puntos:156
Almacen: [.] Actual: [a]
Mover a casilla: e1

Turno: 11 Puntos:166
Almacen: [.] Actual: [a]
Mover a casilla: d3

Turno: 12 Puntos:167
Almacen: [.] Actual: [a]
Mover a casilla: e2

Turno: 13 Puntos:168
Almacen: [.] Actual: [a]
Mover a casilla: a4

Turno: 14 Puntos:170
Almacen: [.] Actual: [b]
Mover a casilla: a5

Turno: 15 Puntos:175
Almacen: [.] Actual: [a]
Mover a casilla: a1

Turno: 16 Puntos:178
Almacen: [.] Actual: [b]
Mover a casilla: a3

Turno: 17 Puntos:193
Almacen: [.] Actual: [a]
Mover a casilla: a5

Turno: 18 Puntos:194
Almacen: [.] Actual: [a]
Mover a casilla: a4

Turno: 19 Puntos:195
Almacen: [.] Actual: [a]
Mover a casilla: b4

Turno: 20 Puntos:198
Almacen: [.] Actual: [1]
Mover a casilla: e3

Turno: 21 Puntos:258
Almacen: [.] Actual: [1]
Mover a casilla: a0

Turno: 22 Puntos:318
Almacen: [.] Actual: [a]
Mover a casilla: d2

Turno: 23 Puntos:321
Almacen: [.] Actual: [1]
Mover a casilla: a0

Turno: 24 Puntos:296
Almacen: [.] Actual: [c]
Mover a casilla: b1

Turno: 25 Puntos:321
Almacen: [.] Actual: [a]
Mover a casilla: c1

Turno: 26 Puntos:322
Almacen: [.] Actual: [a]
Mover a casilla: c2

Turno: 27 Puntos:323
Almacen: [.] Actual: [a]
Mover a casilla: c3

Turno: 28 Puntos:326
Almacen: [.] Actual: [b]
Mover a casilla: b3

Turno: 29 Puntos:341
Almacen: [.] Actual: [a]
Mover a casilla: a0

Turno: 30 Puntos:362
Almacen: [.] Actual: [1]
Mover a casilla: f4

Turno: 31 Puntos:357
Almacen: [.] Actual: [1]
Mover a casilla: a2

Turno: 32 Puntos:332
Almacen: [.] Actual: [b]
Mover a casilla: b2

Turno: 33 Puntos:357
Almacen: [.] Actual: [w]
Mover a casilla: a0

Turno: 34 Puntos:356
Almacen: [.] Actual: [1]
Mover a casilla: a0

Turno: 35 Puntos:351
Almacen: [.] Actual: [a]
Mover a casilla: d0

Turno: 36 Puntos:352
Almacen: [.] Actual: [1]
Mover a casilla: e0

Turno: 37 Puntos:327
Almacen: [.] Actual: [1]
Mover a casilla: f0

Turno: 38 Puntos:302
Almacen: [.] Actual: [1]
Mover a casilla: f1

Turno: 39 Puntos:277
Almacen: [.] Actual: [1]
Mover a casilla: f2

Turno: 40 Puntos:252
Almacen: [.] Actual: [a]
Mover a casilla: e2

Turno: 41 Puntos:403
Almacen: [.] Actual: [b]
Mover a casilla: c3

Turno: 42 Puntos:408
Almacen: [.] Actual: [a]
Mover a casilla: c1

Turno: 43 Puntos:409
Almacen: [.] Actual: [a]
Mover a casilla: d1

Turno: 44 Puntos:412
Almacen: [.] Actual: [a]
Mover a casilla: e3

Turno: 45 Puntos:413
Almacen: [.] Actual: [a]
Mover a casilla: d3

Turno: 46 Puntos:421
Almacen: [.] Actual: [a]
Mover a casilla: d0

Turno: 47 Puntos:422
Almacen: [.] Actual: [a]
Mover a casilla: d1

Turno: 48 Puntos:423
Almacen: [.] Actual: [a]
Mover a casilla: d2

Turno: 49 Puntos:426
Almacen: [.] Actual: [a]
Mover a casilla: e2

Turno: 50 Puntos:427
Almacen: [.] Actual: [w]
Mover a casilla: a2

Turno: 51 Puntos:432
Almacen: [.] Actual: [w]
Mover a casilla: f4

Turno: 52 Puntos:437
Almacen: [.] Actual: [a]
Mover a casilla: e3

Turno: 53 Puntos:438
Almacen: [.] Actual: [a]
Mover a casilla: f2

Turno: 54 Puntos:441
Almacen: [.] Actual: [1]
Mover a casilla: f0

Turno: 55 Puntos:416
Almacen: [.] Actual: [a]
Mover a casilla: f1

Turno: 56 Puntos:437
Almacen: [.] Actual: [1]
Mover a casilla: d0

Turno: 57 Puntos:412
Almacen: [.] Actual: [1]
Mover a casilla: d1

Turno: 58 Puntos:387
Almacen: [.] Actual: [1]
Mover a casilla: c1

Turno: 59 Puntos:362
Almacen: [.] Actual: [a]
Mover a casilla: c2

Turno: 60 Puntos:838
Almacen: [.] Actual: [1]
Mover a casilla: d1

Turno: 61 Puntos:813
Almacen: [.] Actual: [a]
Mover a casilla: c3

Turno: 62 Puntos:814
Almacen: [.] Actual: [a]
Mover a casilla: d1

Turno: 63 Puntos:815
Almacen: [.] Actual: [a]
Mover a casilla: c1

Turno: 64 Puntos:902
Almacen: [.] Actual: [1]
Mover a casilla: f4

Turno: 65 Puntos:897
Almacen: [.] Actual: [a]
Mover a casilla: *

Turno: 65 Puntos:897
Almacen: [a] Actual: [a]
Mover a casilla: e0

Turno: 66 Puntos:898
Almacen: [a] Actual: [1]
Mover a casilla: a5

Turno: 67 Puntos:873
Almacen: [a] Actual: [b]
Mover a casilla: a2

Turno: 68 Puntos:938
Almacen: [a] Actual: [a]
Mover a casilla: b4

Turno: 69 Puntos:939
Almacen: [a] Actual: [1]
Mover a casilla: a4

Turno: 70 Puntos:914
Almacen: [a] Actual: [1]
Mover a casilla: a5

Turno: 71 Puntos:889
Almacen: [a] Actual: [b]
Mover a casilla: b3

Turno: 72 Puntos:894
Almacen: [a] Actual: [1]
Mover a casilla: a3

Turno: 73 Puntos:1019
Almacen: [a] Actual: [a]
Mover a casilla: b2

Turno: 74 Puntos:1020
Almacen: [a] Actual: [1]
Mover a casilla: a5

Turno: 75 Puntos:995
Almacen: [a] Actual: [1]
Mover a casilla: a4

Turno: 76 Puntos:970
Almacen: [a] Actual: [a]
Mover a casilla: a3

Turno: 77 Puntos:1011
Almacen: [a] Actual: [a]
Mover a casilla: c2

Turno: 78 Puntos:1012
Almacen: [a] Actual: [a]
Mover a casilla: c3

Turno: 79 Puntos:1015
Almacen: [a] Actual: [a]
Mover a casilla: a0

Turno: 80 Puntos:1016
Almacen: [a] Actual: [1]
Mover a casilla: c0

Turno: 81 Puntos:1011
Almacen: [a] Actual: [a]
Mover a casilla: a1

Turno: 82 Puntos:1012
Almacen: [a] Actual: [1]
Mover a casilla: d1

Turno: 83 Puntos:1007
Almacen: [a] Actual: [b]
Mover a casilla: c2

Turno: 84 Puntos:1012
Almacen: [a] Actual: [b]
Mover a casilla: e2

Turno: 85 Puntos:1017
Almacen: [a] Actual: [a]
Mover a casilla: b3

Turno: 86 Puntos:1020
Almacen: [a] Actual: [1]
Mover a casilla: b4

Turno: 87 Puntos:1080
Almacen: [a] Actual: [1]
Mover a casilla: a4

Turno: 88 Puntos:1055
Almacen: [a] Actual: [a]
Mover a casilla: b4

Turno: 89 Puntos:1056
Almacen: [a] Actual: [a]
Mover a casilla: a4

Turno: 90 Puntos:1077
Almacen: [a] Actual: [b]
Mover a casilla: d2

Turno: 91 Puntos:1142
Almacen: [a] Actual: [a]
Mover a casilla: c2

Turno: 92 Puntos:1143
Almacen: [a] Actual: [a]
Mover a casilla: c3

Turno: 93 Puntos:1144
Almacen: [a] Actual: [b]
Mover a casilla: b3
Jugada errónea
Mover a casilla: c1

Turno: 94 Puntos:1149
Almacen: [a] Actual: [b]
Mover a casilla: b2

Turno: 95 Puntos:1154
Almacen: [a] Actual: [b]
Mover a casilla: e3

Turno: 96 Puntos:1159
Almacen: [a] Actual: [a]
Mover a casilla: d3

Turno: 97 Puntos:1162
Almacen: [a] Actual: [a]
Mover a casilla: *

Turno: 97 Puntos:1162
Almacen: [a] Actual: [a]
Mover a casilla: e2

Turno: 98 Puntos:1163
Almacen: [a] Actual: [a]
Mover a casilla: f2

Turno: 99 Puntos:1166
Almacen: [a] Actual: [a]
Mover a casilla: f1

Turno: 100 Puntos:1167
Almacen: [a] Actual: [a]
Mover a casilla: e2

Turno: 101 Puntos:1168
Almacen: [a] Actual: [a]
Mover a casilla: c2

Turno: 102 Puntos:1169
Almacen: [a] Actual: [1]
Mover a casilla: c3

Turno: 103 Puntos:1164
Almacen: [a] Actual: [a]
Partida terminada, GG:👏